* {
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.chess_board {
    height: 100vw;
    background-color: rgb(9, 255, 0);
}

.row:nth-of-type(even) {
    flex-direction: row-reverse;
}

.row {
    display: flex;
    height: 12.5%;
}

.tile {
    height: 20px;
    width: 12.5%;
    height: 100%;
}

.tile:nth-of-type(odd) {
    background-color: rgb(77, 77, 77);
}